@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

.nav-bar {
  height: vars.$height-xl;
  padding: 0 vars.$space-lg;

  @include mixins.grid(1fr 1fr 1fr);
  @include mixins.card($bg: vars.$primary);

  .num-results {
    justify-self: end;
    font-size: 1.8rem;
  }
}
