@use '../abstracts/variables' as vars;

.seconds {
  width: 8rem;
  padding: 0.4rem;
  font-weight: 600;
  text-align: center;
  border-radius: 10rem;

  margin-top: vars.$space-md;
  background-color: vars.$bg-100;
}
