/* Colors */
$primary: #6741d9;
$primary-light: #7950f2;

$text-light: #dee2e6;
$text-dark: #adb5bd;

$bg-100: #343a40;
$bg-500: #2b3035;
$bg-900: #212529;
$bg-white: #fff;

$red: #fa5252;
$red-dark: #e03131;

/* Spacing */
$space-xs: 0.8rem;
$space-sm: 1.6rem;
$space-md: 2.4rem;
$space-lg: 3.2rem;
$space-xl: 4.8rem;

/* font-size */
$font-xs: 0.9rem;
$font-sm: 1.4rem;
$font-md: $space-sm;
$font-lg: $space-md;
$font-xl: $space-lg;

/* height */
$height-xs: $space-xs;
$height-sm: 1.8rem;
$height-md: $space-md;
$height-lg: $space-lg;
$height-xl: 7.2rem;

/* Radius */
$radius-sm: 0.7rem;
$radius-md: 0.9rem;
$radius-lg: 10rem;
$radius-full: 50%;
